@import "../../../styles/GlobalStyles.css";
.quota-page {
  display: flex-end;
}
.quota-page button:focus {
  outline: none;
  padding-left: 50px;
}
#quota--management--page--add--to-row--btn,
#quota--management--page--add--to-column--btn {
  background: var(--global-color-1);
  border-radius: 10%;
  color: white;
  border: none;
  margin-right: 20px;
  font-size: 15px;
  padding-left: 10px;
  padding-right: 10px;
}
#quota--management--page--add--to-column--btn:hover,
#quota--management--page--add--to-row--btn:hover {
  opacity: 0.75;
}
#quota--management--page--editing-mode--content {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: minmax(0, 1fr) minmax(0, 1fr);
}
#quota--label--selection {
  grid-column-start: 2;
  height: 100%;
}
#quota--display--added--table {
  border: 1px solid var(--global-color-1);
  grid-row: 1/3;
  background-color: #f2f2f2;
  padding-top: 15px;
  height: 70%;
  overflow-y: scroll;
  overflow-x: scroll;
}
#quota--management--adjust--rows--cols {
  border-top: 2px solid var(--global-color-1);
  margin-top: 20px;
  grid-row: 2/3;
  padding-right: 20px;
  padding-left: 20px;
}
.quota-page .display--square--button {
  margin-top: 20px;
  background-color: var(--global-color-1);
  border-radius: 5px;
  width: 35px;
  height: 35px;
  margin-right: 10px;
}
.display--square--button .icon {
  cursor: pointer;
  justify-items: center;
  color: white;
  margin-left: -2px;
  padding-top: 2px;
  height: 30px;
  width: 40px;
}
#quota--management--adjust--rows--cols--btn--div > .display--square--button {
  margin: 8px 8px 8px 0px;
}
#quota--management--adjust--rows--cols--btn--div {
  display: flex;
  justify-content: flex-end;
}
.sigma-icon {
  justify-items: center;
  color: white;
  size: 20px;
}

.quota--management--add--total--cols-rows--btn {
  display: inline-block;
  border-radius: 5px;
  background: #ffd066;
  height: 25px;

  margin-top: 8px;
  margin-right: 10px;
  color: white;
  padding: 5px 5px;

  align-content: center;
  font-family: var(--global-font-family);
  cursor: pointer;
}
