#quota-label-selection-table {
  border-collapse: collapse;
  border: 1px solid var(--global-color-1);
  width: 100%;
}

#quota-label-selection-table td,
#quota-label-selection-table th {
  border: 1px solid var(--global-background-color);
  padding: 12px;
  font-family: var(--global-font-family);
}
#quota-label-selection-table th {
  padding: 10px;
  text-align: left;
  font-weight: normal;
  background-color: var(--global-background-color);
  color: #cc9d2e;
}

.quota-label-selection-table--body {
  background-color: white;
  overflow-y: scroll;
}

#quota-label-selection-table tr:hover {
  background-color: #ddd;
}

#quota-label-selection-table tr {
  border: 2px solid var(--global-color-1);
}

#quota-label-selection-table td {
  border: 2px solid var(--global-color-1);
}
