@import "../../../styles/GlobalStyles.css";

.quota-management-page--adjust-rows-cols {
  border-collapse: collapse;
  border: 2px solid #ddd;
  font-family: var(--global-font-family);
  margin: 5px;
  width: 100%;
}
.quota-management-page--adjust-rows-cols th {
  padding: 10px;
  text-align: center;
  background-color: #f9e5ad;
  color: #d4a946;
  border: 2px solid var(--global-color-1);
  font-weight: normal;
  text-align: start;
}
.quota-management-page--adjust-rows-cols td {
  border-left: 2px solid var(--global-color-1);
  padding: 6px;
  text-align: center;
  vertical-align: top;
}
.quota-management-page--adjust-rows-cols tbody {
  background-color: white;

  overflow: scroll;
  border: 2px solid var(--global-color-1);
}
.quota-management-page--adjust-rows-cols .sigma-total-rounded-box {
  background-color: #707276;
  border-radius: 20px;
  text-align: center;
  color: white;
  width: 80%;
  padding: 2px;
}
.quota-management-page--adjust-rows-cols .selected--expression--box {
  background-color: white;
  width: 80%;
  border: 1px solid #707276;
  border-radius: 20px;

  text-align: center;
  color: #707276;
  font-size: 12px;

  margin-left: 20px;
  margin-top: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 2px;
  cursor: pointer;
}
.quota-management-page--adjust-rows-cols .sigma-icon {
  justify-items: center;
  color: white;
  width: 13px;
}
