@import "../../../styles/GlobalStyles.css";

.quota-management-page--expression-review {
  resize: both;
  overflow: auto;
}
.quota-management-page--expression-review--tables {
  border-collapse: collapse;
  font-family: var(--global-font-family);
  margin: 5px;
  width: 590px;
  margin-top: 0px;
  border: 2px solid var(--global-color-1);
}
.quota-management-page--expression-review--tables th {
  padding: 10px;
  text-align: center;
  background-color: #f9e5ad;
  color: #d4a946;
  border: 1px solid var(--global-color-1);
}
.quota-management-page--expression-review--tables td {
  border-left: 1px solid var(--global-color-1);
  padding: 6px;
}
.quota-management-page--expression-review--tables tbody {
  background-color: #f2f2f2;
  color: black;

  overflow: scroll;
  border: 2px solid var(--global-color-1);
}
/* 
.quota-management-page--expression-review--tables .slide--note {
  color: #1a8eb9;
} */
.quota-management-page--expression-review--tables li {
  list-style-type: circle;
}
.quota-management-page--expression-review--tables .slide--index {
  background-color: #ffc5cb;

  text-align: center;
}
.quota-management-page--expression-review--tables .option--index {
  text-align: center;
}
