@import '../../../styles/GlobalStyles.css';

#title {
    text-align: center;
  }
  
  #quota-overview-table {
    border-collapse: collapse;
    border: 2px solid var(--global-color-1);
    width: 900px;
    margin-left: 20px;
  }
  
  #quota-overview-table td,
  #quota-overview-table th {
    border: 1px solid var(--global-background-color);
    padding: 12px;
  }

  .quota-overview-table--body{
    background-color: white;
  }
  
  #quota-overview-table tr:hover {
    background-color: #ddd;
  }

  #quota-overview-table tr{

    border: 1px solid var(--global-color-1);
  }

  #quota-overview-table td{
    border: 1px solid var(--global-color-1);
  }
  
  #quota-overview-table th {
    padding: 10px;
    text-align: center;
    background-color: var(--global-background-color);
    color: var(--global-color-2);
  }
  
  .opration {
    text-align: center;
  }
  
  .button {
    border: none;
    outline: none;
    font-size: 11px;
    font-family: "Quicksand", sans-serif;
    color: #f44336;
    padding: 3px 10px;
    border-radius: 8px;
    cursor: pointer;
    border: 1px solid #f44336;
    background-color: transparent;
  }
  
  .button:active {
    border: 1px solid blue;
  }

.quota-overview-table--input{
    /* width: 300px; */
}