.quota-management-page--expression-review--tables th,
.quota-management-page--expression-review--tables td {
  padding: 10px;
  text-align: center;
  background-color: #f9e5ad;
  color: black;
  border: 1px solid black;
}
.quota-management-page--expression-review--tables .slide--note {
  border-collapse: collapse;
  border: 1px solid #ddd;
}
