@import "../../styles/GlobalStyles.css";
.quota-page {
  background-color: var(--global-background-color);

  height: 100vh;
  width: 100vw;
  margin-left: -7px;
  margin-top: -10px;
}
.quota-page--tables {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
