@import "../../styles/GlobalStyles.css";
.quota-page{
    background-color:var(--global-background-color);
    display:flex;
    width: 1600px;
    margin-left: -7px;
    margin-top: -10px;
}
.h2{
    margin-top: 90px;
    color: var(--global-title-1);
    margin-right:300px;
    margin-left: 20px;
    
}
.quota-page >p{
    margin-right:20px;
    border:1px solid red ;
    border-radius: 5rem;
    margin-top: 90px;
}
.quota-page > select{
    height: 30px;
    margin-top: 90px;
    width: 200px;
}