@import "../../styles/GlobalStyles.css";
.quota-page{
    background-color:var(--global-background-color);
    display:grid;
    width: 1535px;
    margin-left: -7px;
    margin-top: -10px;
}
.quota-page--tables{
    display: grid;
    grid-template-columns: 1fr 1fr;
}