@import "../../../pages/app/styles/GlobalStyles.css";

* {
  outline: none;
  font-family: var(--global-font-family);
}
.header-left {
  border: 1px solid black;
  background-color: #ffd066;
  font-size: 15px;
  height: 10px;
  font-family: var(--global-font-family);
  width: 10px;
  margin-top: 20px;
}
.header-left-total {
  border: 1px solid black;
  background-color: #7f7f7f;
  color: white;
  font-size: 15px;
  height: 10px;
  font-family: var(--global-font-family);
  width: 10px;
  margin-top: 20px;
  text-align: center;
}
.body-exceeded-left {
  border: 1px solid black;
  font-family: var(--global-font-family);
  font-size: 15px;
  background-color: #ffd066;
  width: 10px;
}
.cell {
  border: 1px solid black;
  width: 100px;
  max-width: 20px;
  white-space: nowrap;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}
.main-table {
  background-color: #f2f2f2;
  padding: 1%;
  margin-right: 30px;
  width: 1140px;
  height: 496px;
  margin-left: 50px;
  overflow-y: scroll;
  overflow-x: scroll;
  display: grid;
}
.main-table > table {
  border-spacing: 0px;
  border-collapse: collapse;
}
.sum-all-cols-rows-cell {
  border: 1px solid black;
  background-color: #6a972d;
  color: white;
  font-size: 15px;
  height: 10px;
  font-family: var(--global-font-family);
  width: 10px;
  margin-top: 20px;
  text-align: center;
}
