.header-component {
  background-color: #ffd066;
}
.element-header {
  width: 300px;
  border-right: 1px solid black;
  height: 40px;
}
.select-option {
  height: 100%;
  outline: none !important;
  border-right: 0px solid white;
  border-bottom: 0px solid white;
  border-top: 0px solid white;
  border-left: 1px solid white;
  margin-left: 50px;
  width: 20px;
  margin-right: -5px;
  background-color: #ffd066;
  cursor: pointer;
}
