@import '../../../styles/GlobalStyles.css';

.action-exceeded {
   margin-top: 0px;
   border: 2px solid #FCC216;
   display: grid;
   background-color: #f2f2f2;
   height: 250px;
   width: 300px;
   justify-content: center;
   color: #cea649;
}

.action-p {
   margin-left: -10px;
   margin-top: 10px
}

.jump-slide {
   display: flex;
}

.select-action {
   height: 30px;
   width: 80%;
}

.input-exceeded {
   width: 100px;
   margin-left: 10px;
   height: 25px;
   text-align: center;
}

.buttons {
   display: flex;
   margin-top: 10px
}

.apply {
   background-color: #ffd066;
   color: white;
   border-radius: 5px;
   width: 100px;
   height: 30px;
   margin-right: 10px;
   text-align: center;
   cursor: pointer;
}

.apply:hover {
   opacity: 0.75;
}

.apply-all {
   background-color: #ffd066;
   border-radius: 5px;
   height: 30px;
   width: 130px;
   text-align: center;
   cursor: pointer;
   color: white;
}

.apply-all:hover {
   opacity: 0.75;
}