@import "../../../styles/GlobalStyles.css";
*{
    outline: none;
    font-family: var(--global-font-family);
}
.header-left{
    border: 2px solid black;
    background-color:#ffd066;
    font-size: 15px;
    height: 10px;
    width: 40px;
    margin-top:20px;
}
.body-exceeded-left{
    border: 2px solid black;
    font-family: var(--global-font-family);
    font-size: 15px;
    background-color:  #ffd066;
   
}
.main-table{
    background-color: #f2f2f2;
    padding: 1%;
    margin-right: 30px;
    width: 1140px;
    height: 400px;
    margin-left: 50px;
    overflow-y: scroll;
    overflow-x: scroll;
}