@import "../../../styles/GlobalStyles.css";

.message{
    width: 300px;
    border-top: 2px solid #FCC216;
    border-bottom: 2px solid #FCC216;
    border-right: 2px solid #FCC216;
    border-left: 2px solid #FCC216;
    margin-top: -20px;
    display: grid;
    background-color: #f2f2f2;
    height: 250px;
}
.two-mess{
    display: flex;
    margin-left: 10px;
    margin-top: 10px;
}
.check{
    margin-top: 22px;
    margin-left: 10px;
}
.p-mess{
    font-family: var(--global-font-family);
    color: #4F3C06;
}
.textarea{
    resize: none;
    width: 270px;
    height: 100px;
    margin-left: 10px;
    background-color: var(--global-background-color);
    font-family: var(--global-font-family);
}