@import "../../../styles/GlobalStyles.css";
.exceeded{
  background-color: var(--global-background-color);
  height: 100vh;
  width: 100vw;
  margin-left: -7px;
  margin-top: -10px;
  display: grid;
  position: fixed;
  font-family: var(--global-font-family);
}
.exceeded .exceeded-bar{
  padding-top: 50px;
  display: flex;
  height: 50px;
}
.exceeded > .h2-exceeded{
  color:#c69017;
  margin-left: 3em;
  width: 20%;
  
}
.exceeded > .up {
  margin-top: 20px;
  background-color: var(--global-color-1);
  border-radius: 5px;
  width: 35px;
  height: 35px;
  margin-right: 10px;
  margin-left:90px
}
.exceeded .icon {
  cursor: pointer;
  justify-items: center;
  color: white;
  margin-left: -2px;
  padding-top: 2px;
  height: 30px;
  width: 40px;
}
.mode-exceeded{
  margin-top: 20px;
  border: 1px solid rgb(77, 74, 74);
  margin-left: 10px;
  text-align: center;
  width: 70px;
  height: 28px;
  padding-top: 2px;
  background-color: rgb(77, 74, 74);
  color: white;
  font-family: var(--global-font-family);
}
.exceeded > select {
  margin-top: 20px;
  height: 32px;
  width: 170px;
  background-color: rgb(77, 74, 74);
  color: white;
  outline: none;
  cursor: pointer;
  margin-left: -1px;
  font-family: var(--global-font-family);
  margin-right: 0px;
}
.exceeded> .review{
  margin-left: 400px;
  color:#c69017;
}

.when-exceed--layouts{
  margin-top: 130px;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.when-exceed--layout-left{
  width: 63%;
  font-family: var(--global-font-family);
}
.when-exceed--layout-right{
  color: #4F3C06;
  white-space: nowrap;
  font-family: var(--global-font-family);
  width: 250px;
}