@import "../../styles/GlobalStyles.css";
.table-2{
    background-color: #f2f2f2;
    padding: 1%;
    overflow:scroll;
}
.table-2 >tr{
    /* display: inline-block; */
    color: red;
}
.table-2> table{
    border-spacing: 10px;
    border: 3px solid var(--global-background-color);
    border-collapse: collapse;

}
.cell-header td{
    border: 1px solid black;
    width: 30px;
    border-spacing: 10px;
}
td{
    vertical-align: middle;
}
.cell-body td{
    border-right:1px solid black;
    border-top:1px solid black ;
    border-spacing: 0px;
    margin-left: 20px;
    width: 30px;
    text-align: center;
    white-space: nowrap;
}