@import "../../styles/GlobalStyles.css";
.raw-data {
  background-color: var(--global-background-color);
  height: 100%;
  width: 100vw;
  margin-top: -10px;
  margin-left: -8px;
  position: absolute;
  font-family: var(--global-font-family);
  /* display: grid; */
}
.raw-data--header {
  margin-left: 30px;
  font-family: Segoe UI;
}
.raw-data--text-list {
  display: flex;
  margin-left: 30px;
}
.raw-data--total {
  color: #7a818c;
}
.raw-data--cancel {
  color: #a50010;
}
.raw-data--approved {
  color: green;
}
.raw-data--p-w {
  color: #8f2887;
}
.raw-data--pending-qc-1 {
  color: #1f1d19;
}
.raw-data--pending-qc-2 {
  color: #7a818c;
}
.raw-data--buttons-4 {
  margin-left: 600px;
}
.raw-data--button-1 {
  height: 30px;
  width: 100px;
  margin-left: 800px;
  background-color: #fcc216;
  text-align: center;
  border-radius: 5px;
  padding-top: 5px;
  cursor: pointer;
  color: white;
}
.raw-data--button-1:hover {
  opacity: 0.75;
}
.raw-data--content-area {
  margin-top: 20px;
  height: fit-content;
  padding-top: 10px;
  background-color: var(--global-background-color);
}
.raw-data--item-1 div,
.raw-data--item-1 input[type="checkbox"] {
  display: none;
}
.raw-data--item-1 {
  border-top: 2px dotted #4f3c06;
}
.raw-data--item-1 input:checked ~ div {
  background-color: white;
  display: block;
  overflow: scroll;
}
.raw-data--item-2 div,
.raw-data--item-2 input[type="checkbox"] {
  overflow: scroll;
  background-color: white;
  display: none;
}
.raw-data--item-2 input:checked ~ div {
  display: block;
}
.raw-data--item-2 {
  border-top: 2px dotted #4f3c06;
  border-bottom: 2px dotted #4f3c06;
}
.raw-data--item-3 div,
.raw-data--item-3 input[type="checkbox"] {
  display: none;
  overflow: scroll;
  background-color: white;
}
.raw-data--item-3 input:checked ~ div {
  display: block;
}
.raw-data--item-3 {
  border-bottom: 2px dotted #4f3c06;
}
.raw-data--arrow {
  margin-top: 0px;
  width: 30px;
  height: 30px;
  color: #fcc216;
  vertical-align: middle;
}
.raw-data--item-1 input + .arrow {
  transition: 0.3s;
  transform: rotate(0deg);
}
.raw-data--item-1 input:checked + .arrow {
  transition: 0.3s;
  transform: rotate(90deg);
}
.raw-data--item-2 input + .arrow {
  transition: 0.3s;
  transform: rotate(0deg);
}
.raw-data--item-2 input:checked + .arrow {
  transition: 0.3s;
  transform: rotate(90deg);
}
.raw-data--item-3 input + .arrow {
  transition: 0.3s;
  transform: rotate(0deg);
}
.raw-data--item-3 input:checked + .arrow {
  transition: 0.3s;
  transform: rotate(90deg);
}

.raw-data--input:checked + .arrow {
  transform: rotate(90deg);
  transition: 0.2s;
}
#raw-data--first:hover , #raw-data--second:hover , #raw-data--third:hover{
  cursor: pointer;
}